html,
.body {
  font-family: "Kelly Slab", cursive;
  font-size: 1.2vw;
  width: 100%;
  height: 100%;

  a {
    color: white;
    font-size: 30px;
  }
}

.body {
  background-image: url(../assets/img/background.png);
  background-size: cover;
  background-position: center;
  color: white;
}

.wrapper {
  padding: 10px 50px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.gallery__item {
  transition: all 1s ease-in-out;
  transform-origin: top center;
  cursor: pointer;
  &_container {
    position: absolute;
    height: 60%;
    top: 34.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &:hover {
    animation: rotate 3s ease-in-out normal;
  }
}

.bird-img {
  width: 40%;
  border-radius: 20px;
}

.bird-name,
.bird-img,
.bird-species,
.bird-description {
  margin-bottom: 5px;
}

.bird-audio {
  width: 50%;
}

.board {
  width: 100%;
  z-index: -1;
}

/*----player----*/

.player * {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: none;
}

.play-btn {
  cursor: pointer;
}

.player audio {
  display: none;
}

.player {
  position: absolute;
  width: 25%;
  top: 32%;
  right: 4%;
  background: transparent;
  padding: 5px;
}

.play-time {
  font-size: 1.2vw;
  margin-right: 10px;
}

.player input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.player input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.player input[type="range"].volume {
  width: 40%;
}

/*--------*/

@media (max-width: 700px) {
  .body {
    font-size: 2vw;
  }
  .gallery__item {
    width: 100%;
  }
  .bird-img {
    width: 60%;
  }
  .player {
    width: 30%;
    top: 30%;
    right: -2%;
    transform: rotate(90deg);
  }
  .play-time {
    font-size: 1.5vw;
    transform: rotate(-90deg);
  }
  .play-btn {
    transform: scale(1.5) rotate(-90deg);
  }
  .player input[type="range"] {
    margin-bottom: 15px;
  }
}
